<div class="bg-off-white pv4">
  <div class="ph3 mw7 center">
    <h2 class="f2 b lh-title mb2">{{.intro.heading}}</h2>
    <p class="mb4 mw6">{{.intro.text}}</p>

    {{ $var := 1 + 2 }}
    Var is {{ $var }}
    
    <div class="flex-ns mhn2-ns mb3" col="3">
      {{ range .products }}
      <div class="portfolioX ph2-ns w-50-ns">
        <center>   
        <!-- <img src="{{.image}}" alt="" class="center db mb3" style="width: 240px"> --->
        <h3 class="f3 b lh-title mb3" style="color: darkorange;">{{.one}}</h3>
        <p>{{.two}}</p>
        <a href="{{.link}}">{{.three}}</p></a>
        </center>
      </div>
      {{ end }}
    </div>

    <div class="tc">
      <a href="/products" class="btn raise">See all products</a>
    </div>
  </div>
</div>
