<div class="bg-off-white pv4">
  <div class="ph3 mw7 center">
    <h2 class="f2 b lh-title mb2">{{.introX.heading}}</h2>
    <p class="mb4 mw6">{{.introX.text}}</p>

    <div class="flex-ns mhn2-ns mb3">
      {{ range .productsX }}
      <div class="ph2-ns w-50-ns">
        <center>
        <img src="{{.image}}" alt="" class="center db mb3" style="width: 240px">
        <h2 class="f2 b lh-title mb2">{{.hX}}</h1>
        <h3 class="f3 b lh-title mb3" style="color: darkorange;">{{.zX}}</h3>
        <p>{{.text}}</p>
        </center>
      </div>
      {{ end }}
    </div>

    <div class="tc">
      <a href="/post" class="btn raise">Read the blog!</a>
    </div>
  </div>
</div>
