<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/logo.svg" alt="KEYSOME" class="db w4 center mb4 br0">
			<!--- <p class="f3 lh-title light-gray b tc mb2">Newsletter</p> -->
			<p>Stop losing clients! Opt-in to gain exclusive acess to paid members-only content. We never spam.</p>

			{{ partial "newsletter-form" . }}

		</div>

		<div class="flex-ns justify-between">

			<div>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="https://keysome.com/post/" class="link">Blog</a></li>					
					<li><a href="https://medium.com/keysome" class="link">Archives</a></li> 
					<li><a href="https://keysome.com/products/" class="link">Products</a></li>
					<li><a href="https://keysome.com/values/" class="link">About KEYSOME</a></li>
					<li><a href="https://blog.keysome.com/" class="link">Search Optimization</a></li> 
				</ul>
			</div>

			<div>
				<ul class="mb3">
					<li><a href="tel:+15862173094" class="link">Call Us</a></li>
					<li><a href="https://keysome.com/contact/" class="link">Lets Talk</a></li>
					<li><a href="https://twitter.com/topcatchy" class="link">Twitter</a></li>
					<li><a href="https://openbrace.appointlet.com/s/pricing" class="link">Schedule Appointment</a></li>
				</ul>
			</div>

			<div style="text-align: right !important;">
				<p style="text-align: right !important; font-family: 'Montserrat', sans-serif !important;  font-size:60px !important;">(+1)586-217-3094</p>
				<!--- <p style="text-align: right !important; font-family: 'Montserrat', sans-serif !important;  font-size:60px !important;">+1(954)280-8775</p> --->				<!-- <h3 class="f4 b lh-title mb2 primary">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram") }}
					<!-- {{ partial "social-icon" (dict "link" "#" "svg" "icons-vimeo") }}
				</ul> --> <br /><br />
				<p style="font-weight:bold; font-size:12px; text-align: right !important;">© <label id="yearX"></label></p>
<!---	<p style="font-weight:bold; font-size:12px; text-align: right !important;">© 2020 OPENBRACE PRIVATE LIMITED CIN - U74999TN2016OPC111192 RoC, CHENNAI.</p> --->
	
			</div>

		</div>
	</div>
	

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
<script>
const d = new Date();
let year = d.getFullYear();
document.getElementById("yearX").innerHTML = year;
</script>
