.bg-white { background-color : white !important; }
/* .grey-3 { color: black !important; } */

.cover { 
-webkit-filter: blur(5px) !important;
-moz-filter: blur(5px) !important;
-o-filter: blur(5px) !important;
-ms-filter: blur(5px) !important;
filter: blur(5px) !important; }

.mw7 .center .ph3 { -webkit-filter: blur(0px) !important;
-moz-filter: blur(0px) !important;
-o-filter: blur(0px) !important;
-ms-filter: blur(0px) !important;
filter: blur(0px) !important; }
