.bg-white { background-color : white !important; }
/* .grey-3 { color: black !important; } */
.portfolioX {
    width: 33% !important;
    padding: 10px;
    display: inline-table;
    background-color: #f1f1f0;
    border: 2px solid #dcdcda;
    text-align: center;
    margin-bottom: 10px;
    line-height: 0.25px !important;
}
/* @media (min-width: 768px) { .products { width: 50% !important; } } */ 
.portfolioX:nth-child(2n) {  background-color: #f7f7f7 !important; } 
