.bg-white { background-color : white !important; }
/* .grey-3 { color: black !important; } */
.portfolioX {
    width: 33% !important;
    padding: 5px;
    display: inline-table;
    background-color: #f1f1f0;
    border-radius: 2px;
    border: 2px solid #dcdcda;
    text-align: center;
    margin-bottom: 10px;
    line-height: 0.75 !important;
}
/* @media (min-width: 768px) { .products { width: 50% !important; } } */ 
.portfolioX:nth-child(2n) {  background-color: #f7f7f7 !important; } 
.f4 { margin: 5px !important; font-style: italic; }
.w3 { width: 10em !important; }






.slider-wrapperXX {
  font-size: 40px;
  color:#aaa;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: left ;
  justify-content: left;
  font-family:inherit;
}
.sliderXX{
  height: 50px;
  overflow: hidden;
}
.sliderXX div {
  color:#fff;
  height: 50px;
  margin-bottom: 50px;
  padding: 0px 0px;
  text-align: left;
  box-sizing: border-box;
}
.slider-text1 {
  background: lightgreen;
  animation: slide 5s linear infinite;
}
.slider-text2 { background: skyblue; }
.slider-text3 { background: lightcoral;
}
@keyframes slide {
  0% {margin-top:-300px;}
  5% {margin-top:-200px;}
  33% {margin-top:-200px;}
  38% {margin-top:-100px;}
  66% {margin-top:-100px;}
  71% {margin-top:0px;}
  100% {margin-top:0px;}
}















.containerz {

  display: grid;
  align-items: center;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  line-height:1;
}

.pricebox {
  padding: 0.5rem 1rem;
  position: relative;
  z-index: 0;
  font-weight: 200;
  font-size: 12.8rem;
  color: #232323;
  font-family: 'Montserrat', sans-serif;
}
.pricebox::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #eee;
  z-index: -1;
  transform: skew(-10deg);
  box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.1);
}

.pricebox__sale {
  position: absolute;
  transform: translate(10%, -160%);
  font-size: 3rem;
  white-space: nowrap;
  display: flex;
  right: 0;
}
.pricebox__sale::after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 10%;
  height: 4px;
  background: #bbb;
  z-index: -1;
  transform: skew(30deg);
  transform-origin: left top;
}

.pricebox__actual {
  padding: 0.25rem 0.5rem 0.25rem;
  position: relative;
  display: flex;
  align-items: center;
}
.pricebox__actual::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #eee;
  z-index: -1;
  transform: skew(-10deg);
  box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.1);
}
.pricebox__actual::after {
  content: "";
  display: block;
  border-top: 1px solid black;
  top: 50%;
  left: -0.25em;
  right: -0.25em;
  -webkit-transform: rotate(12deg);
  -moz-transform: rotate(12deg);
  z-index: 3;
  position: absolute;
}

.pricebox__savings {
  padding: 0.25rem 0.5rem 0.25rem;
  position: relative;
  color: #fff;
  display: flex;
  align-items: center;
}
.pricebox__savings::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #dc4949;
  z-index: -1;
  transform: skew(-10deg);
  box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.1);
}

.iconX {
  display: inline-flex;
  background: #eee;
  color: #dc4949;
  border-radius: 50%;
  padding: 0.15rem;
  font-size: 65%;
  margin-right: 0.2rem;
  justify-content: center;
  align-items: center;
  width: 1em;
}
